# NOTE!!!: Don't copy and edit this file yourself. Instead, use ./scripts/generate-env.sh to generate a new one

APP_HOSTNAME=dhis2-127-0-0-1.nip.io

# Set this to the exact version you want to use. Example: 42.3.1
DHIS2_VERSION=42

DHIS2_ADMIN_USERNAME=admin
DHIS2_ADMIN_PASSWORD=<some very secure password>

# These credentials are copied from stacks/monitoring/.env by generate-env.sh.
# They must match across all instances so the shared Prometheus can scrape metrics.
DHIS2_MONITOR_USERNAME=monitor
DHIS2_MONITOR_PASSWORD=<another very secure password>

POSTGRES_VERSION=16-master
POSTGRES_PASSWORD=<another very secure password>
POSTGRES_DB=dhis
POSTGRES_DB_USERNAME=dhis
POSTGRES_DB_PASSWORD=<another very secure password>
POSTGRES_METRICS_USERNAME=metrics
POSTGRES_METRICS_PASSWORD=<another very secure password>

POSTGRES_EXPORTER_VERSION=v0.17.1

# WireGuard (overlays/wireguard)
# TODO: Write a note here about how important it is to set the peers correctly.
#  Reference the readme file with documentation about how to create and revoke client configs.
#  If the client config is shared it'll be difficult to revoke access
WIREGUARD_PEERS=dhis2
WIREGUARD_SERVER_URL=auto
WIREGUARD_SERVER_PORT=51820
WIREGUARD_INTERNAL_SUBNET=10.8.0.0
# Traffic the VPN client routes through the tunnel. 0.0.0.0/0 = full tunnel.
# For split tunnel, set e.g. 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
WIREGUARD_ALLOWED_IPS=0.0.0.0/0
