http:
  routers:
    app:
      rule: 'Host(`{{env "APP_HOSTNAME"}}`)'
      service: app
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      middlewares:
        - security

    glowroot:
      rule: 'Host(`glowroot.{{env "APP_HOSTNAME"}}`)'
      service: glowroot
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      middlewares:
        - security

    grafana:
      rule: 'Host(`grafana.{{env "APP_HOSTNAME"}}`)'
      service: grafana
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      middlewares:
        - security

  middlewares:
    security:
      headers:
        forceSTSHeader: true
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        referrerPolicy: "strict-origin-when-cross-origin"
        frameDeny: true

  services:
    app:
      loadBalancer:
        servers:
          - url: "http://app:8080"

    glowroot:
      loadBalancer:
        servers:
          - url: "http://app:4000"

    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"
