<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="10">
    <!-- Stream logs:
            docker compose logs -f web
         Stream logs of a particuar package only:
            docker compose logs -f web | grep org.hisp.dhis.monitoring.metrics
         Show timestamps:
            docker compose logs -t -f web

         OpenTelemetry trace context is automatically injected into MDC by the Java agent.
         The trace_id and span_id can be used to correlate logs with traces in Grafana Tempo.
    -->
    <Properties>
        <!-- Log pattern includes OpenTelemetry trace context for correlation with Tempo -->
        <Property name="layout">* %-5p %d{ISO8601} trace_id=%X{trace_id} span_id=%X{span_id} %m (%c{1} [%t]) %X{sessionId} %X{xRequestID}%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hisp.dhis" level="INFO" additivity="true"/>
        <Logger name="org.hisp.dhis.webapi.mvc" level="WARN" additivity="false"/>
        <Logger
          name="org.hibernate.cache.ehcache.internal.strategy.AbstractReadWriteEhcacheAccessStrategy"
          level="ERROR" additivity="false"/>
        <Logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="ERROR"
          additivity="false"/>
        <Logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="ERROR"
          additivity="false"/>
        <Logger name="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" level="ERROR"
          additivity="false"/>
        <Logger name="org.hibernate.orm.deprecation" level="ERROR" additivity="false"/>
        <Logger name="org.apache.activemq" level="ERROR" additivity="false"/>
        <Logger name="org.hibernate" level="ERROR" additivity="false"/>

        <Root level="WARN">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
