apiVersion: 1

datasources:
  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: true
    jsonData:
      httpMethod: GET
      # Enable service graph and node graph visualizations
      serviceMap:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      # Link traces to logs in Loki
      tracesToLogs:
        datasourceUid: loki
        filterByTraceID: true
        filterBySpanID: false
        mapTagNamesEnabled: true
        tags:
          - key: service.name
            value: compose_service
      # Link traces to metrics
      tracesToMetrics:
        datasourceUid: prometheus
        tags:
          - key: service.name
            value: job
      lokiSearch:
        datasourceUid: loki
