services:
  app:
    depends_on:
      glowroot-init:
        condition: service_completed_successfully
    volumes:
      - glowroot-data:/opt/glowroot
    environment:
      JDK_JAVA_OPTIONS: "${JDK_JAVA_OPTIONS:-} -javaagent:/opt/glowroot/glowroot.jar"

  glowroot-init:
    image: curlimages/curl:${CURL_VERSION:-8.10.1}
    volumes:
      - glowroot-data:/opt/glowroot
      - ./overlays/glowroot/config/admin.json:/tmp/admin.json:ro
      - ./overlays/glowroot/glowroot-init.sh:/tmp/glowroot-init.sh:ro
    environment:
      GLOWROOT_VERSION: ${GLOWROOT_VERSION:-0.14.0}
      APP_UID: ${APP_UID:-65534}
      APP_GID: ${APP_GID:-65534}
    command: [ "sh", "/tmp/glowroot-init.sh" ]
    user: root
    security_opt:
      - no-new-privileges:true

volumes:
  glowroot-data: {}
