global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'dhis2'
    static_configs:
      - targets: [ 'app:8080' ]
    metrics_path: '/api/metrics'
    basic_auth:
      # Username is hard coded since we can't use a secret here
      username: monitor
      password_file: /run/secrets/dhis2_monitor_password
  - job_name: 'traefik'
    static_configs:
      - targets: [ 'traefik:8080' ]
    metrics_path: '/metrics'
  - job_name: 'postgres'
    static_configs:
      - targets: [ 'postgres-exporter:9187' ]
  - job_name: 'node-exporter'
    static_configs:
      - targets: [ 'node-exporter:9100' ]
  - job_name: 'cadvisor'
    static_configs:
      - targets: [ 'cadvisor:8080' ]
